<!DOCTYPE html>
<html>
<head>
<!--<meta property="og:url" content="https://www.youtube.com/watch?v=UedTcufyrHc">-->
  <meta name='og:title' content='Euphony'>
  <meta name='og:type' content='movie'>
  <meta name="og:url" content="https://www.youtube.com/watch?v=UedTcufyrHc">
  <meta name='og:site_name' content='Euphony'>
  <meta name='og:description' content='Euphony'>
</head>
<body>
<pre>
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
   ▄████████ ███    █▄     ▄███████▄    ▄█    █▄     ▄██████▄  ███▄▄▄▄   ▄██   ▄              ▄████████    ▄████████    ▄████████  ▄█    █▄     ▄████████    ▄████████ 
  ███    ███ ███    ███   ███    ███   ███    ███   ███    ███ ███▀▀▀██▄ ███   ██▄           ███    ███   ███    ███   ███    ███ ███    ███   ███    ███   ███    ███ 
  ███    █▀  ███    ███   ███    ███   ███    ███   ███    ███ ███   ███ ███▄▄▄███           ███    █▀    ███    █▀    ███    ███ ███    ███   ███    █▀    ███    ███ 
 ▄███▄▄▄     ███    ███   ███    ███  ▄███▄▄▄▄███▄▄ ███    ███ ███   ███ ▀▀▀▀▀▀███           ███         ▄███▄▄▄      ▄███▄▄▄▄██▀ ███    ███  ▄███▄▄▄      ▄███▄▄▄▄██▀ 
▀▀███▀▀▀     ███    ███ ▀█████████▀  ▀▀███▀▀▀▀███▀  ███    ███ ███   ███ ▄██   ███         ▀███████████ ▀▀███▀▀▀     ▀▀███▀▀▀▀▀   ███    ███ ▀▀███▀▀▀     ▀▀███▀▀▀▀▀   
  ███    █▄  ███    ███   ███          ███    ███   ███    ███ ███   ███ ███   ███                  ███   ███    █▄  ▀███████████ ███    ███   ███    █▄  ▀███████████ 
  ███    ███ ███    ███   ███          ███    ███   ███    ███ ███   ███ ███   ███            ▄█    ███   ███    ███   ███    ███ ███    ███   ███    ███   ███    ███ 
  ██████████ ████████▀   ▄████▀        ███    █▀     ▀██████▀   ▀█   █▀   ▀█████▀           ▄████████▀    ██████████   ███    ███  ▀██████▀    ██████████   ███    ███ 
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X#X
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
</pre>
Euphony Server Beta (v2.4.8).</br></br><a href = '{{ search | safe }}'>Search</a>
</body>
</html>